
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>



    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        ody#LoginForm {
            background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 10px;
        }

        .form-heading {
            color: #fff;
            font-size: 23px;
        }

        .panel h2 {
            color: #444444;
            font-size: 18px;
            margin: 0 0 8px 0;
        }

        .panel p {
            color: #777777;
            font-size: 14px;
            margin-bottom: 30px;
            line-height: 24px;
        }

        .login-form .form-control {
            background: #f7f7f7 none repeat scroll 0 0;
            border: 1px solid #d4d4d4;
            border-radius: 4px;
            font-size: 14px;
            height: 50px;
            line-height: 50px;
        }

        .main-div {
            background: #ffffff none repeat scroll 0 0;
            border-radius: 2px;
            margin: 10px auto 30px;
            max-width: 38%;
            padding: 50px 70px 70px 71px;
        }

        .login-form .form-group {
            margin-bottom: 10px;
        }

        .login-form {
            text-align: center;
        }

        .forgot a {
            color: #777777;
            font-size: 14px;
            text-decoration: underline;
        }

        .login-form .btn.btn-primary {
            background: #f0ad4e none repeat scroll 0 0;
            border-color: #f0ad4e;
            color: #ffffff;
            font-size: 14px;
            width: 100%;
            height: 50px;
            line-height: 50px;
            padding: 0;
        }

        .forgot {
            text-align: left;
            margin-bottom: 30px;
        }

        .botto-text {
            color: #ffffff;
            font-size: 14px;
            margin: auto;
        }

        .login-form .btn.btn-primary.reset {
            background: #ff9900 none repeat scroll 0 0;
        }

        .back {
            text-align: left;
            margin-top: 10px;
        }

            .back a {
                color: #444444;
                font-size: 13px;
                text-decoration: none;
            }
    </style>
    <div ng-app="enqApp" id="enqControllerId" data-ng-controller="enqController" class="" style="margin-left:auto;">
        <div class="container">
            <h1 class="form-heading">login Form</h1>
            <div class="login-form">
                <div class="main-div">
                    <div class="panel">
                        <h2>Work Flow Management Login</h2>
                        <p>Please enter your User name and password</p>
                    </div>
                    <form id="Login">
                        <div class="form-group">

                            <input type="text" class="form-control" id="inputusrname" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        <div class="forgot">
                            <a href="reset.html">Forgot password?</a>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
                    </form>
                </div>
                <p class="botto-text"> Designed by Sunil Rajput</p>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script id="enquirymain">
            var appEnq = angular.module('enqApp', []);
            var baseAddress = '/Login/';
            var url = "";

            appEnq.factory('driverfaq', function ($http) {
                return {
                    getpermission: function (username, password) {
                        url = baseAddress + "GetPermission/" + "?username=" + username + "&password=" + password;
                        return $http.get(url);
                    }
                };
            });
            appEnq.controller('enqController', function PostController($scope, driverfaq, $compile) {
                $scope.login = function () {
                    var username = document.getElementById("inputusrname").value;
                    var password = document.getElementById("inputPassword").value;
                    driverfaq.getpermission(username, password).then(function (data) {
                        if(data.data == "true")
                        {
                            window.location = "/Employee";
                        }
                        else
                        {
                            swal({
                                title: "Login Faield!",
                                text: "Please enter valid credential, please re_enter!",
                                icon: "warning",
                                buttons: true,
                                dangerMode: true,
                            })
                        }
                        

                       // window.location.href = "/Home/Index.cshtml";

                    }).catch(function (data) {
                        
                    });

                };


            });




    </script>



</body>
</html>
